<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wn.dao.ITradeDao" >
  <resultMap id="BaseResultMap" type="com.wn.model.Trade" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tradeNo" property="tradeNo" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tradeNo, time
  </sql>
  
  <select id="getById" resultMap="BaseResultMap">
     select <include refid="Base_Column_List" /> from wn_trade where id = #{id}
  </select>
  
  <select id="getByTradeNo" resultMap="BaseResultMap">
     select <include refid="Base_Column_List" /> from wn_trade where tradeNo = #{tradeNo}
  </select>
  
</mapper>